@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <MudPaper Class="mud-theme-primary" Width="100%" Square="true">
            <MudStack Spacing="16" Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                <div class="pl-8 menu">
                    <MudMenu Label='@LayoutService.MenuLabel' FullWidth="true" FullHeight="true" Color="Color.Secondary"
                    Variant="Variant.Filled" AnchorOrigin="Origin.BottomLeft"
                        TransformOrigin="Origin.TopLeft">
                        <MudNavLink Href="/">Home</MudNavLink>
                        <MudNavLink Href="/contact">Contact</MudNavLink>
                        <MudNavLink Href="/about">About</MudNavLink>
                        <MudNavLink Href="/projects">Projects</MudNavLink>
                    </MudMenu>
                </div>
                <MudText Typo="Typo.body1" Align="Align.Center">
                    <div class="logo-container">
                        <div class="left">Lex</div>
                        <div class="right">Designs</div>
                    </div>
                </MudText>

                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Class="github-button" />

            </MudStack>

        </MudPaper>

    </div>
    <main>
        @Body
    </main>
</div>


<MudThemeProvider @ref="@_mudThemeProvider" Theme="@LayoutService.CurrentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    [Inject]
    public LayoutService LayoutService { get; set; }
    private MudThemeProvider _mudThemeProvider;

    protected override void OnInitialized()
    {
        LayoutService.MajorUpdateOccurred += LayoutServiceOnMajorUpdateOccurred;
        base.OnInitialized();
        LayoutService.SetBaseTheme(LexTheme.MainTheme());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            //await ApplyUserPreferences();
            StateHasChanged();
        }
    }

    // private async Task ApplyUserPreferences()
    //{
    // var defaultDarkMode = await _mudThemeProvider.GetSystemPreference();
    // await LayoutService.ApplyUserPreferences(false);
    //}

    public void Dispose()
    {
        LayoutService.MajorUpdateOccurred -= LayoutServiceOnMajorUpdateOccurred;
    }

    private void LayoutServiceOnMajorUpdateOccurred(object sender, EventArgs e) => StateHasChanged();

}


<style>
    .menu {
        height: 15px;
        width: 40px;
    }

    .logo-container {
        width: 90px;
    }

    .left {
        display: flex;
        justify-content: left;
        margin-bottom: -.7rem;
    }

    .right {
        font-family: 'DM Serif Display', serif;
        display: flex;
        justify-content: right;
    }
</style>
